[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/ss251/solana-starter
[submodule "anchor-vault-q3-2025"]
	path = anchor-vault-q3-2025
	url = https://github.com/ss251/anchor-vault-q3-2025.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/ss251/anchor-escrow.git
[submodule "SolSplits"]
	path = SolSplits
	url = https://github.com/ss251/SolSplits.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/ss251/anchor-amm
[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/ss251/nft-staking
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = https://github.com/ss251/nft-marketplace
